# Ignore virtual environments
autism_env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code temporary files
tempCodeRunnerFile.py